

body {
    background-color: #afcdea;
}

div {
    background-color: #4a9ae9;
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    height: auto;
    text-align: center;
    border-radius: 20px;
    border: solid #318ce7 5px;
}

h1 {
    margin: 20px 0px 0px;
    color: aliceblue;
    font-size: 68px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#resm {
    margin: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(240, 248, 255, 0.626);
}

p {
    font-size: 23px;
    color: #e5e9ee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

span {
    color: rgb(255, 175, 25);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #144b816d;
    border-radius: 6px;
    padding: 2px;
}

a {
    font-size: 25px;
    color: ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}